<div class="hero">
  <div div class="banner">
    <div class="left-column">
      <h1>Welcome to Chocoholics</h1>
      <h3>Discover New Chocolates</h3>
      <div class="btn">
        <button><%= link_to "Create an Account", signup_path %></button>
        <button><%= link_to "Sign In", login_path %> </button> <br>
      </div>
    </div>
    <div class="child">
      <%= image_tag("chocolate-unsplash.jpg", alt: "chocolates") %> <br>
    </div>
</div>
</div>
