  <div div class="welcome-container">
    <div class="welcome-left">
      <h1>Welcome to Chocoholic</h1>
      <h3>Discover New Chocolates</h3>
      <div class="welcome-btns">
        <button><%= link_to "Create an Account", signup_path %></button>
        <button><%= link_to "Sign In", login_path %> </button> <br>
      </div>
    </div>
    <div class="welcome-right">
      <%= image_tag("chocolate-unsplash.jpg", alt: "chocolates") %> <br>
    </div>
</div>
</div>
