<p>Welcome <%= current_user.name %></p>

My Chocolates:

<ul>  
<% current_user.chocolates.each do |chocolate| %>
<%= chocolate.category.name %> <%= link_to "Add", user_path(current_user) %>
<hr>
<li><%= link_to chocolate.flavor, chocolate_path(chocolate) %></li>

<% end %>
</ul>