<h1 class="headers">My Chocolates</h1>
<div class="list-margin">
  <ul class="unordered-list collapsibleList">
    <% current_user.chocolates.each do |chocolate| %>
      <li class="list">
        <% if chocolate.image.attached? %>
          <%= image_tag chocolate.image.variant(resize_to_limit: [100, 100]) %> <br><br>
        <% end %>
        <h3><%= link_to chocolate.flavor, chocolate_path(chocolate) %></h3>
        <p>by: <%= chocolate.brand %></p>
         <br>
        <br>
        <hr>
      </li>
    <% end %>
  </ul>
</div>