/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

/* home page & navbar */

html,
body {
  margin: 0;
  font-family: "Dosis", sans-serif;
  padding-bottom: 25px;
}

/* Fonts */
h2 {
  font-size: 2em;
  text-align: center;
}

/* Welcome Page */

.welcome-container {
  background-color: #f3f1f3;
  box-shadow: 0 2px 5px #343837;
  width: fit-content;
  margin: auto;
  display: flex;
  margin-top: 80px;
  justify-content: center;
}

.welcome-left {
  text-align: center;
  width: 100%;
  margin: auto;
}

.welcome-right {
  width: 100%;
}

.welcome-right img {
  width: 100%;
  height: 100%;
  box-shadow: 0 2px 10px #4f575a;
}

.welcome-btns button {
  width: 50%;
  padding: 4px;
  margin-top: 7px;
  outline: none;
  border: 1px solid #fb7381;
  border-radius: 20px;
  background: linear-gradient(#fb7381, #fb4a60);
  box-shadow: 0 2px 15px rgba(248, 30, 103, 0.26);
}

.welcome-btns a {
  color: #fff;
  text-align: center;
  text-decoration: none;
}

footer {
  justify-content: center;
  text-align: center;
  background-color: #fb7381;
  color: #fff;
  box-shadow: 0 0px 3px #393e46;
  position: fixed;
  padding-top: 7px;
  bottom: 0;
  width: 100%;
  height: 26px;
  font-size: 1em;
}

/* Login & Signin */

.signup-login {
  width: 30%;
  margin: 6% auto;
  background-color: #f8f8ff;
  box-shadow: 0 2px 10px #4f575a;
  padding: 80px;
  text-align: center;
  border-radius: 20px;
}

.input-group {
  align-items: center;
  display: block;
  margin: auto;
  white-space: pre-line;
}

.signup-login a {
  color: blue;
}

.submit {
  padding: 10px 20px;
  width: 50%;
  outline: none;
  border: 1px solid #fb7381;
  border-radius: 20px;
  background: linear-gradient(#fb7381, #fb4a60);
  box-shadow: 0 2px 15px rgba(248, 30, 103, 0.26);
  color: #fff;
  font-size: 1em;
}
/* Start Navigation Menu */

nav {
  float: left;
  padding: 5% 5% 0 0;
  height: 50px;
}

nav ul {
  list-style: none;
  float: left;
  background-color: #2c2c2c;
}
nav ul li {
  font-size: 120%;
}

nav ul li a {
  color: #c2c2c2;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

nav ul,
nav:active ul {
  padding: 8px 0;
  width: 20%;
  left: 45px;
  top: 60px;
  z-index: 1000;
  display: none;
}

nav li {
  width: 100%;
  padding: 8px 0 10px 7px;
  margin: 0;
}

nav:hover ul {
  display: block;
  position: absolute;
}

#menu-icon {
  width: 25px;
  height: 26px;
  background: url(nav-icon.png) center;
  display: inline-block;
  margin: 50px 0 0 50px;
}

.intro {
  height: 25%;
  width: 100%;
  margin: auto;
  background: url(header.jpg) no-repeat 50% 50%;
  background-size: cover;
  display: table;
  top: 0;
}

.intro .inner {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  max-width: none;
}

.clearfix {
  clear: both;
  height: 3%;
}

.content {
  max-width: 600px;
  margin: auto;
}

.content h1 {
  font-size: 300%;
  font-weight: 700;
  color: #fff;
  text-align: center;
  padding: 2%;
  text-shadow: 0px 0px 250px #000;
}

.inner {
  max-width: 600%;
  margin: auto;
  font-size: 100%;
  line-height: 1.6;
  padding: 10px;
}
/* End Nav */

/* Forms */

.form {
  width: 50%;
  height: fit-content;
  margin: auto;
  background-color: #f8f8ff;
  box-shadow: 0 2px 10px #4f575a;
  padding: 80px;
  border-radius: 20px;
  font-size: 1.2em;
}

.input-fields {
  white-space: pre-line;
  line-height: 1.3em;
}

.input-fields textarea {
  resize: none;
  border-radius: 5px;
  width: 100%;
  height: 150px;
}

.input-fields input {
  width: 40%;
  display: flex;
  max-width: 600px;
}

.submit-btn {
  padding: 10px 30px;
  width: 20%;
  outline: none;
  border: 1px solid #fb7381;
  border-radius: 20px;
  background: linear-gradient(#fb7381, #fb4a60);
  box-shadow: 0 2px 15px rgba(248, 30, 103, 0.26);
  color: #fff;
  margin-left: 250px;
}

/* Search Bar */
.search {
  float: left;
  margin: auto;
  padding: 5px;
  margin-left: 10px;
}

.search input[type="text"] {
  margin: auto;
  font-size: 1.2em;
  font-weight: 200;
  height: 20px;
  border: 1px solid #e9edf6;
  box-shadow: 0px 1px 7px #4e4b4a;
  border-width: 1px 0 1px 1px;
  border-radius: 2px 0 0 2px;
}

.search input[type="submit"] {
  padding: 5px 20px;
  outline: none;
  border: 1px solid #fb7381;
  border-radius: 18px;
  background: linear-gradient(#fb7381, #fb4a60);
  box-shadow: 0 2px 15px rgba(248, 30, 103, 0.26);
  color: #fff;
  font-size: 0.85em;
}

/* Chocolate List */
.choco-div,
.categories-div {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.chocolate,
.category {
  float: left;
  margin-left: 20px;
  margin: auto;
  padding: 0 10px;
  width: 20%;
  text-align: center;
}

.chocolate {
  box-shadow: 0px 1px 5px #4e4b4a;
  margin-top: 10px;
  height: 300px;
  font-size: 2vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.chocolate img {
  margin-top: 10px;
}

.chocolate a,
.category a {
  color: #fb7381;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 1.1em;
  font-weight: bold;
  margin-top: 10px;
  padding: 0 5px;
}

.chocolate span {
  color: #6c5765;
}

/* chocolate show page */

.wrapper {
  display: flex;
  flex-direction: row;
}

.first {
  width: 600px;
  text-align: center;
  margin-right: 10px;
  margin-top: 15px;
  color: #2c2c2c;
}

.second {
  width: 600px;
  margin-right: 15px;
  background-color: #f8f7ff;
  padding-bottom: 10px;
  margin-top: 15px;
  text-align: center;
}

.second a,
.user-reviews a {
  margin: 10px;
  color: #fb7381;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 1.1em;
  font-weight: bold;
}

.second ul {
  text-align: center;
  font-size: 12px;
}

.second h3 {
  text-align: center;
  color: #2c2c2c;
}

.user-reviews {
  margin-right: 15px;
  background-color: #f8f7ff;
  padding-bottom: 10px;
  margin-top: 15px;
  text-align: center;
}

hr {
  height: 12px;
  border: 0;
  box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

.back {
  margin-right: 500px;
}

/* category nav display */
.category-nav {
  display: block;
  padding: 10px;
  margin-bottom: 10px;
}

.category-nav a {
  color: #6c5765;
  margin: 2px;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 1em;
  font-weight: bold;
}

/* Error Display */

#error_explanation ul {
  color: red;
  text-align: center;
  list-style: none;
}

#error_explanation {
  margin-top: 10px;
  text-align: center;
  color: red;
}

.field_with_errors input {
  display: inline;
  padding: 2px;
  /* background-color: red; */
  border: 1.5px solid red;
}

.field_with_errors textarea {
  display: inline;
  padding: 2px;
  border: 3px solid red;
}
.flash {
  text-align: center;
  font-size: 20px;
  color: red;
  margin: 20px;
}

@media screen and (max-width: 768px) {
  #menu-icon {
    margin: 26px 0 0 26px;
  }
  nav ul,
  nav:active ul {
    padding: 8px 0;
    left: 23px;
    top: 34px;
    width: 50%;
  }
  .inner {
    font-size: 120%;
  }
  .content h1 {
    font-size: 180%;
  }
  .wrapper {
    width: 100%;
    margin: auto;
    padding: 0;
  }
  .second {
    width: 45%;
    height: 50%;
    margin: 0 auto;
    padding: 0;
  }
  .first {
    width: 45%;
    height: 50%;
    margin: 0 auto;
    padding: 0;
  }
}

@media screen and (max-width: 768px) {
  .choco-div {
    width: 90%;
  }
  .chocolate {
    width: 80%;
    height: 300px;
  }
}

@media (max-width: 900px) {
  html {
    font-size: 15px;
  }
}
@media (max-width: 400px) {
  html {
    font-size: 13px;
  }
}
