
<%= render partial: 'layouts/search' %>

<div class="clearfix"></div>
<section class="choc-sec">
<section class="choc">
<h2>Pick a Category</h2>
<ul>
    <% @categories.each do |category| %>
      <li class="list">
        <h3><%= link_to category.name, category_chocolates_path(category) %></h3>
      </li>
    <% end %>
    </ul>
</section>
</section>
