<br>
<h1 class="headers">Pick a Category</h1>
<div class="list-margin">
  <ul class="categories">
    <% @categories.each do |category| %>
      <li class="list">
        <h3><%= link_to category.name, category_chocolates_path(category) %></h3>
      </li>
    <% end %>
  </ul>
</div>

