
<%= render partial: 'layouts/search' %>

<h2>Pick a Category</h2>
<div class="categories-div">
    <% @categories.each do |category| %>
      <div class="category">
        <h3><%= link_to category.name, category_chocolates_path(category) %></h3>
      </div>
    <% end %>
</div>

