<% if @reviews.blank? %>
  <p>There are no reviews yet.</p>
<% else %>
<div class="user-reviews">
    <% @reviews.each do |review| %>
        <%= render partial: "reviews", locals: { review: review } %>
        <hr>
    <% end %>
<% end %>
</div>

