<% if @reviews.blank? %>
  <p>There are no reviews yet.</p>
<% else %>
<div class="user-reviews">
    <% @reviews.each do |review| %>
        <%= render partial: "reviews", locals: { review: review } %>
        <hr>
    <% end %>
<% end %>
</div>
<h4 class="back"><%= link_to "Back", url_for(:back) %></h4>
