<h3>Browse by Category:</h3>
<% @categories.each do |category| %>
  <ul>
    <%= category.name %>
  </ul>
<% end %>
<hr>
<h3>All Chocolates:</h3>
<% @chocolates.each do |chocolate| %>
  <ul>
    <%= link_to chocolate.flavor, chocolate_path(chocolate) %> by: <%= chocolate.brand %>
  </ul>
<% end %>
