<h1>All Chocolates</h1>
<div>
  <ul class="records_ul">
    <% @chocolates.each do |chocolate| %>
      <li>
        <% if chocolate.image.attached? %>
          <%= image_tag chocolate.image.variant(resize_to_limit: [100, 100]) %> <br><br>
        <% end %>
        <h3><%= link_to chocolate.flavor, chocolate_path(chocolate) %></h3>
        <p>by: <%= chocolate.brand %></p>
         <br>
        <br>
      </li>
    <% end %>
  </ul>
</div>

