<h1 class="headers">All Chocolates</h1>
<% if @category %>
<p><%= link_to "Add New Chocolate to #{@category.name}", new_category_chocolate_path(@category) %> </p>
<% end %>

  
    <% @chocolates.each do |chocolate| %>
      
      <div class="index">
        <% if chocolate.image.attached? %>
          <%= image_tag chocolate.image.variant(resize_to_limit: [100, 100]) %> 
        <% end %>
        <h3 class="list-font"><%= link_to chocolate.flavor, chocolate_path(chocolate) %></h3>  
        <p>by: <%= chocolate.brand %></p>
      
      </div>
    <% end %>


  

