<h3>Most Popular Chocolates</h3>

<% if !logged_in? %>
  <p>Log in or Sign up to explore even more</p>  
<% end %>
<div>
  <ul>
    <% @chocolates.each do |chocolate| %>
      <li>
        <% if chocolate.image.attached? %>
          <%= image_tag chocolate.image.variant(resize_to_limit: [100, 100]) %> <br><br>
        <% end %>
        <h3><%= link_to chocolate.flavor, chocolate_path(chocolate) %></h3>
        <p>by: <%= chocolate.brand %></p>
         <br>
        <br>
        <hr>
      </li>
    <% end %>
  </ul>
</div>